<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ServerAddress" value="127.0.0.1" />
    <!-- game settings -->
    <add key="NumClientsPerGame" value="4" />
    <add key="NumGames" value="10" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings> 
</configuration>