<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />

    <handlers>
      <add name="report" verb="*" path="*discsvc/report" type="DiscSvc.Reporting.ReportingHandler" resourceType="Unspecified" />
      <add name="toc" verb="*" path="*discsvc/toc" type="DiscSvc.Reporting.TocHandler" resourceType="Unspecified" />
      <add name="media" verb="*" path="*discsvc/media" type="DiscSvc.Reporting.ReportingMediaHandler" resourceType="Unspecified" />
      <add name="sources" verb="*" path="*discsvc/sources" type="DiscSvc.Reporting.ReportingSourcesHandler" resourceType="Unspecified" />
      <add name="email" verb="*" path="*discsvc/email" type="DiscSvc.Reporting.EmailHandler" resourceType="Unspecified" />
      <add name="bgpage" verb="*" path="*discsvc/bgpage" type="DiscSvc.DiscBgHandler" resourceType="Unspecified" />
    </handlers>

    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-2.5.19.0" newVersion="2.5.19.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-2.5.19.0" newVersion="2.5.19.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>

  <connectionStrings>
    <add name="DiscCtx" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\sqlexpress;Initial Catalog=disc;user id=s1;password=s1;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
