<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <system.serviceModel>
        <bindings>
            <netHttpBinding>
                <binding name="NetHttpBinding_ITdsService">
                    <webSocketSettings transportUsage="Always" />
                </binding>
            </netHttpBinding>
        </bindings>
        <client>
            <endpoint address="ws://localhost:30982/TdsService.svc" binding="netHttpBinding"
                bindingConfiguration="NetHttpBinding_ITdsService" contract="TdsSvcRef.ITdsService"
                name="NetHttpBinding_ITdsService" />
        </client>
    </system.serviceModel>
</configuration>
